<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="6.5.5" targetFramework="net462" />
  <package id="EmptyFiles" version="2.6.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.13.1" targetFramework="net462" />
  <package id="Shouldly" version="4.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
</packages>