<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net471" />
  <package id="Autofac" version="3.5.2" targetFramework="net471" />
  <package id="BazaarVoiceSeoSdk" version="1.0.5" targetFramework="net471" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net471" />
  <package id="ConnectionDispatcher" version="1.0.0" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net471" />
  <package id="DotNetZip" version="1.9.6" targetFramework="net471" />
  <package id="Google.Apis" version="1.14.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.14.0" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.14.0" targetFramework="net471" />
  <package id="Google.Apis.ShoppingContent.v2" version="1.14.0.518" targetFramework="net471" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net471" />
  <package id="log4net" version="2.0.3" targetFramework="net471" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.2.600" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net471" />
  <package id="RestSharp" version="105.2.3" targetFramework="net471" />
  <package id="RIDGID.Common.Autofac" version="2.0.3" targetFramework="net471" />
  <package id="RIDGID.Common.Core" version="2.0.39" targetFramework="net471" />
  <package id="RIDGID.Common.Databases.RTCDWPRODCOPY.BusinessObjects" version="1.0.0" targetFramework="net471" />
  <package id="RIDGID.Common.Databases.RTCDWPRODCOPY.DataAccess" version="1.0.0" targetFramework="net471" />
  <package id="RIDGID.Common.Email" version="2.0.19" targetFramework="net471" />
  <package id="RIDGID.Common.Geocoder" version="2.0.21" targetFramework="net471" />
  <package id="RIDGID.Common.Image" version="2.0.26" targetFramework="net471" />
  <package id="RIDGID.Common.LLBL" version="4.0.1" targetFramework="net471" />
  <package id="RIDGID.Common.Logger" version="2.0.8" targetFramework="net471" />
  <package id="RIDGID.Common.Logging.RestfulLogger" version="1.0.24" targetFramework="net471" />
  <package id="RIDGID.Common.NHibernate" version="2.0.13" targetFramework="net471" />
  <package id="RIDGID.Common.Security.ClientCertificates" version="1.0.6" targetFramework="net471" />
  <package id="RIDGID.Common.ZipUtility" version="1.0.2" targetFramework="net471" />
  <package id="SD.LLBLGen.Pro.DQE.SqlServer" version="4.2.20160126" targetFramework="net471" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20150210" targetFramework="net471" />
  <package id="Services" version="1.1.85" targetFramework="net471" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net471" />
  <package id="System.Configuration.Abstractions" version="2.0.2.26" targetFramework="net471" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net471" />
</packages>