<div>
    <h1>RIDGID.Common.Api Testing Links</h1>
</div>
<div>
    <div>
        <a href="/api/values/UnhandledException">Call action with unhandled exception</a>
    </div>
    <div>
        <a href="/api/values/ModelWithARequiredAttribute">Call method with required parameter</a>
    </div>
</div>